/* Tag section */
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #495e57;
  font-weight: bold;
}

nav {
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 10px;
  background-color: #edefee;
  transition: background-color 0.5s;
  transition-timing-function: ease-out;
  z-index: 10;
}

footer {
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  background-color: #edefee;
  transition: background-color 0.5s;
  transition-timing-function: ease-out;
}

/* Mouse interaction section */
nav:hover {
  background-color: #fbdabb;
}

footer:hover {
  background-color: #fbdabb;
}

.button-class:active {
  color: #edefee;
  background-color: #0096ff;
}

/* Classes section */
.flex-container {
  display: flex;
  gap: 70px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button-class {
  color: #edefee;
  background-color: black;
  border-radius: 3px;
  border: none;
  font-weight: lighter;
  font-size: small;
  padding: 10px;
}

/* @media and @keyframes section */
@media only screen and (max-width: 750px) {
  .specialsMobile {
    gap: 100% !important;
    margin-top: 30px !important;
  }

  .navMobile, .footerMobile {
    gap: 40px !important;
  }
}