/* Tag section */
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #495e57;
  font-weight: bold;
}

nav {
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 10px;
  background-color: #edefee;
  transition: background-color 0.5s;
  transition-timing-function: ease-out;
  z-index: 10;
}

footer {
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  background-color: #edefee;
  transition: background-color 0.5s;
  transition-timing-function: ease-out;
}

/* Mouse interaction section */
nav:hover {
  background-color: #fbdabb;
}

footer:hover {
  background-color: #fbdabb;
}

/* Classes section */
.flex-container {
  display: flex;
  gap: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button-class {
  color: #495e57;
  background-color: #f4ce14;
  border-radius: 10px;
  border: none;
  height: fit-content;
  font-weight: bolder;
  font-size: medium;
  padding: 5px;
}

.card-shadow:hover {
  /* box-shadow: -1px 1px 5px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-field-error {
  border-color: #cc3300;
}

.error {
  color: #cc3300;
}

.form-fields {
  width: 400px;
}

.label-text {
  color: whitesmoke;
  font-size: large;
}

.button-class:active {
  color: #edefee;
  background-color: #0096ff;
}

/* @media and @keyframes section */
@media only screen and (max-width: 750px) {
  .specialMobile {
    justify-content: center !important;
  }

  .navMobile, .footerMobile, .heroMobile,
  .reservationMobile {
    gap: 40px !important;
  }
}