/* Tag section */
body {
  margin: 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #495e57;
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px;
  background-color: #edefee;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #edefee;
}

/* Classes section */
.flex-container {
  display: flex;
  gap: 70px;
  justify-content: center;
}

/* @media and @keyframes section */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
